@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    font-family: 'Montserrat', 'sans-serif';
    transition: .2s linear;
}

.header {
    position: relative;
    /*background-image: url("assets/images/header-background.png");*/
}

body{
    margin: 0px !important;
}

button.material-icon {
    background-color: transparent;
    border: none;
    vertical-align: sub;
}

.header ul {
    display: flex;
}

.header ul li {
    list-style: none;
    display: inline-block;
    margin-left: 70px;
    text-decoration: none;
    font-size: 26px;
}
.header ul li a{
    color: #333;
    text-decoration: none;
}

.body{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.menu_bar {
    position: absolute;
    top: 1%;
    right: 2%;
    font-weight: bold;
}
.text_block {
    position: absolute;
    top: 30%;
    right: 1%;
    padding-left: 52%;
}
.title {
    padding-left: 28%;
    font-size: 40px;
}
.description {
    text-indent: 50px;
    padding-top: 25px;
    padding-right: 20px;
    font-size: 24px;
}
div.water-data  {
    font-family: 'ui-monospace';
    font-size: 16px;
}
div.water-header-data {
    font-size: 18px;
    font-weight: 700;
}

.sensor-data {
    display: flex;
    font-size: 36px;
    margin-left: 95px;   
    margin-top: 50px;
    
    /* min-width: 1220px; */
}

.data {
    background: #d3eece;
    border-radius: 32px;
    margin-left: 70px;
    margin-bottom: 40px;
    padding: 20px 44px;
    text-align: center;
    align-items: center;
}

.montserrat-normal-black-32px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-size: 32px;
    font-style: normal;
}

.montserrat-bold-black-48px {
    color: black;
    font-family: var(--font-family-montserrat);
    font-size: 40px;
    
    font-style: normal;
    line-height: 59px;
    text-align: center;
}

.collected-data{
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.collected-data h1{
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    line-height: 59px;
    text-align: center;
}

.moisture{
    height: 180;
}

.gauge{
    height: 250;
    margin-top: 30px;
    align-items: center;
    
}

.left-data{
    height: fit-content;
    margin-right: 20px;
}

.temperature{
    width: 50%;
}

.myChart{
    
}

.soil-moisture{
   height: auto;
}

.watering-section{
    background-color: #D9E4D5;
}

.overlap-group1{
    margin: 0 20px 0 20px;
    padding: 10px;
    font-size: 30px;    
}

.overlap-group1 h1{
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    line-height: 59px;
    text-align: center;
}

.overlap-group8 {
    display: flex;
    margin-left: 70px;
    text-align: center;
}

.place-1{
    width: 70%;
}

.overlap-group8 h2{
    font-size: 30px;
    
}

.date-data{
    background: white;
    border-radius: 32px;
    margin: 20px;
    padding: 20px;
    padding-top: 0;
}

.text-2{
    text-align: left;
}

.about-section{
    background-color: black;
}

.about{
    margin: 0 40px 0 40px;
    padding: 20px;
    color: white;
}
.water-table{
    table-layout: auto;
    width: 100%;
    text-align: center;
}
.btn-primary{
    border-color: rgb(255,87,34);
    background-color: rgb(255,87,34);
}
.btn-primary:hover {
    border-color: rgb(206, 68, 27);
    background-color: rgb(206, 68, 27);
}
md-switch.md-default-theme.md-checked:not([disabled]) .md-thumb, md-switch.md-checked:not([disabled]) .md-thumb {
    background-color: rgb(206, 68, 27);
}
md-switch.md-default-theme.md-checked:not([disabled]) .md-bar, md-switch.md-checked:not([disabled]) .md-bar {
    background-color: rgb(255, 125, 85);
}

md-slider-container>:first-child:not(md-slider) {
    min-width: 8px;
    /* max-width: 41px;
    height: 25px;
    transition: all .4s cubic-bezier(.25,.8,.25,1);
    transition-property: color,max-width; */
}
@media (min-width: 768px){
    .modal-dialog {
        width: 731px;
        margin: 30px auto;
    }
}
/* md-slider-container>:first-child:not(md-slider) {
    margin-right: 8px;
} */




@media screen and (max-width: 1300px) and (min-width:730px){
    
    .sensor-data{
        flex-direction: column;
        padding: 40px;
        margin: 30px;
    }

    .header ul li {
        list-style: none;
        display: inline-block;
        margin: 10px;
        text-decoration: none;
        font-size: 20px;
    }

    .moisture {
        width: auto;
    
    }
    .temperature {
        width: auto;
    }
    .soil-moisture {
        width: auto;
    }

    .title {
        padding-left: 0;
        font-size: 26px;
        text-align: center;
    }
    .description {
        text-indent: 50px;
        padding: 0px;
        font-size: 16px;
    }

    .col-md-2{
        margin: 0;
    }

    .overlap-group8{
        flex-direction: column;
        padding: 40px;
        margin: 20px;
        padding-top: 0px;
    }

    .data{
        min-height: 150px;
        margin-left: 0;
    }

    div.water-header-data {
       font-size: 14px;
    }

    .left-data{
        margin-right: 0;
    }

}

@media screen and (max-width: 730px){

    .header img{
        height: 30%;
    }

    .header ul{
        margin-bottom: 0;
    }

    .text_block{
        margin-top: 0;
    }

    .header ul li {
        list-style: none;
        display: inline-block;
        margin: 5px;
        text-decoration: none;
        font-size: 10px;
    }

    .moisture {
        
        width: auto;
        height: 100;
    }
    
    .temperature {
        width: auto;
    }
    .soil-moisture {
        width: auto;
        height: 200px;
    }

    .title {
        margin-top: 0;
        padding-left: 0;
        font-size: 16px;
        text-align: center;
    }
    .description {
        text-indent: 10px;
        padding: 0px;
        font-size: 12px;
    }

    .overlap-group8{
        flex-direction: column;
        padding: 40px;
        margin: 20px;
        padding-top: 0px;
    }

    .place-1{
        width: auto;
    }

    .description {
        text-indent: 18px;
        padding-top: 0px;
        padding-right: 10px;
        font-size: 9px;
    }

    .collected-data{
        margin: 0px;
    }

    .collected-data h1{
        font-size: 26px;
        margin: 0;
        padding: 0;
    }

    .sensor-data{
        flex-direction: column;
        padding: 20px;
        margin: 20px;
        margin-top: 0;
        height: auto;
    }

    .montserrat-normal-black-32px{
        font-size: 20px;
    }

    .data{
        min-height: 50px;
        margin: 10px;
    }

    .overlap-group1{
        margin: 0;

    }

    .overlap-group1 h1{
        font-size: 26px;
        padding: 0;
        margin: 0;
    }

    .date-data h2{
        font-size: 18px;
    }

    .date-data{
        font-size: 16px;
    }
    .overlap-group8{
        margin: 0;
        padding: 0;
    }

    div.water-header-data {
        font-size: 12px;
     }

     div.water-data  {
        font-size: 10px;
    }

     .left-data{
         margin-right: 0;
     }

     .select-dated{
         text-align: center;
         align-items: center;
     }


    
    

}


